body {
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    margin: 0;
    background-color: #1B1B1B;
}

.container {
    width: 550px;
    height: 550px;
    background-color: #ECFDF5;
}